[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "==6.5.0"
django-countries = "==7.3.1"
django-pipeline = "==2.0.8"
django-recaptcha = "==2.0.6"
pyyaml = "==5.4.1"
importlib-metadata = "==4.13.0"
reportlab = "==3.6.13"
django-formtools = "==2.2"
django-otp = "==1.0.2"  # we needed to fix this due to a wide ranged dependency in django-two-factor-auth
requests = "==2.31.0"
django-treebeard = "==4.3.1"
django-sekizai = "==2.0.0"
django-classy-tags = "==2.0.0"
sqlparse = "==0.4.4"
libsass = "==0.22.0"
more-itertools = "==8.7.0"
django-ratelimit = "==3.0.1"
django-preventconcurrentlogins = "==0.8.2"
django-csp = "==3.7"
django-import-export = "*"
google-cloud-logging = "==1.*"
google-auth = "==2.*"
google-cloud-container = "==2.3.0"
"django-anymail[amazon_ses]" = "==7.0.*"
codeforlife = {ref = "v0.9.3", git = "https://github.com/ocadotechnology/codeforlife-package-python.git"}
django = "==3.2.20"
djangorestframework = "==3.13.1"
django-cors-headers = "==4.1.0"
# https://pypi.org/user/codeforlife/
cfl-common = "==6.37.1" # TODO: remove
codeforlife-portal = "==6.37.1" # TODO: remove
aimmo = "==2.10.6" # TODO: remove
rapid-router = "==5.11.3" # TODO: remove
phonenumbers = "==8.12.12" # TODO: remove

[dev-packages]
django-selenium-clean = "==0.3.3"
django-test-migrations = "==1.2.0"
responses = "==0.18.0"
selenium = "==3.141.0"
snapshottest = "==0.6.0"
pytest-django = "==4.5.2"
pytest = "==7.*"
django-import-export = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-order = "*"
pyvirtualdisplay = "*"
pytest-mock = "*"
PyPDF2 = "==2.10.6"
black = "==23.12.1"
pytest-env = "==0.8.2"
mypy = "==1.6.1"
django-stubs = {version = "==4.2.6", extras = ["compatible-mypy"]}
djangorestframework-stubs = {version = "==3.14.4", extras = ["compatible-mypy"]}
pylint = "==3.0.2"
isort = "==5.13.2"

[requires]
python_version = "3.8"
