html,
body,
div#root {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"), url("./fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}